# OSX
.DS_Store

# npm
npm-debug.log 
node_modules

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#Emacs
*#
*~

#zeppelin builds
zeppelin/builds
_public-oss


multitenancy/web/ui/public

multitenancy/third_party/go/pkg/
multitenancy/third_party/go/bin/