.login-page {
  max-width: 960px;
  background-color: #ffffff;
  margin: 0 auto;
  padding-top: 5em;
  height: 100%;
}

.login-header {
  text-align: center;
  margin: 0 auto 2em;
  font-size: 3em;
}

.login-wrapper {
  width: 400px;
  padding: 36px 72px;
  margin: 0 auto;
}

.login-field {
  margin: 2em auto;
  display: block;
}


